[submodule "CH579EVT/EVT/EXAM/BLE/CH579-Keyboard"]
	path = CH579EVT/EVT/EXAM/BLE/CH579-Keyboard
	url = https://github.com/jokeralon/ch579-keyboard.git
[submodule "CH579EVT/EVT/EXAM/BLE/CH579-DAP"]
	path = CH579EVT/EVT/EXAM/BLE/CH579-DAP
	url = https://github.com/jokeralon/ch579-dap.git
